<h1>Welcome User </h1>
<%= link_to "Read Post", posts_path %><br>
<%= link_to "sign In", new_user_session_path, method: :create %><br>
<%# <%= link_to "Edit User", edit_user_registration_path, method: :edit %>
<%# <%= link_to "sign out", destroy_user_session_path, method: :delete %><br>
